.active-dropdown > a{
    color: #F95959 !important;
}

.form-control {
    padding: 10px 20px !important;
}

.btn-submit {
    background: #F95959 !important;
    color: #fff !important;
    border: 2px solid #F95959 !important;
    border-radius: 30px !important;
    padding: 8px 20px !important;
}

.fh5co-contact-info ul li {
    padding: 0;
}

.fh5co-contact-info ul li a {
    color: #828282;
}

.fh5co-contact-info ul li i {
    margin-right: .8em;
    font-size: 1.5em;
    color: #F95959;
}

#fh5co-footer .row-pb-md .col-md-3:nth-child(2) {
    padding-left: 5em !important;
}

#menu-footer-menu {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

#menu-footer-menu li {
    list-style-type: none !important;
}

#menu-footer-menu li a {
    color: rgba(0, 0, 0, .5) !important;
}

#menu-footer-menu li.current_page_item a {
    color:#F95959 !important;
}

.single-header {
    margin-top: .7em;
    margin-bottom: 0;
    font-size: 3em;
}

.pagination ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.pagination ul > li {
    display: inline-block;
    margin: 0;
    padding: 0 .4em;
}

.pagination ul > li > .page-numbers {
    border-radius: .25rem;
    padding: .2em .5em;
    height: 2em;
    font-size: 1.3em;
    color: #828282;
}

.pagination ul > li > span.current {
    color: #fff;
    background-color: #F95959;
}